@media only screen and (max-width:400px) {
	.wrapper section.block-one-section .block-height {
		display: block;
		align-items: center;
		padding-bottom: 20px;
	}
	.block-bg-menu .navbar-collapse {
		border-top: none;
		box-shadow: none;
	}
	.wrapper section.block-one-section .telefon {
		left: 0px;
		top: 15px;
	}
	.wrapper section.block-one-section .owl-buttons {
		display: none;
	}
	.wrapper section.block-one-section .online {
		float: none;
	}
	.wrapper section.block-one-section .online  img {
		margin: 35px auto 0 auto;
	}
	.block-parent-text {
		display: none;
	}
	.wrapper section.block-two-section{
		padding-top: 42px;
	}
	.wrapper section.block-one-section .block-margin {
		padding-top: 15px;
		padding-bottom: 40px;
	}
	.wrapper section.block-tree-section {
		padding-top: 30px;
		padding-bottom: 81px;
		background-size: cover;
	}
	.wrapper section.block-tree-section .block-slider-team .block-head {
		text-align: center;
	}
	.block-slider-team .item {
		padding-left: 12%;
	}
	.wrapper section.block-tree-section .block-slider-team p {
		margin: 0 auto 28px auto;
		text-align: center;
	}
	.wrapper section.block-tree-section .block-slider-team .item p {
		text-align: left;
		margin-left: 0;
	}
	.wrapper section.block-four-section {
		padding-top: 40px;
		padding-bottom: 65px;
	}
	.wrapper section.block-four-section .block-parent-number {
		width: 263px;
		margin: 0 auto 20px auto;
	}
	.wrapper section.block-four-section .slider-testimonials .item .block-text-testimonials {
		background-position: 10px 7px;
		padding-top: 0px;
		padding-left: 0px;
	}
	.wrapper section.block-four-section .slider-testimonials .owl-theme .owl-controls {
		margin-top: 0px;
	}
	.wrapper section.block-four-section .block-testimonials {
		padding-top: 0px;
	}
	.wrapper section.block-five-section .block-bg-five {
		padding-top: 20px;
		padding-bottom: 30px;
		background-size: cover;
	}
	.wrapper section.block-five-section .block-bg-five .block-gallery-description h2 {
		font-size: 23px;
		margin-top: 20px;
	}
	.wrapper section.block-five-section footer {
		padding-top: 40px;
	}
	.wrapper section.block-five-section footer .telefon {
		left: 0px;
		top: -13px;
	}
	footer .map, footer .telefon {
		margin: 0 auto;
		width: 155px;
	}
	button.navbar-toggle {
		width: 24px;
		height: 16px;
		margin-top: 21px;
	}
	header button.navbar-toggle {
		background: url(../img/menu-footer.svg) no-repeat;
	}
	footer button.navbar-toggle {
		background: url(../img/menu.svg) no-repeat;
	}
	header .navbar-nav {
		margin: 7.5px -15px;
		position: relative;
		z-index: 999;
		background-color: #555;
	}
	.wrapper section.block-tree-section .block-slider-team .owl-pagination {
		display: block;
		position: relative;
		top: 30px;
	}
	nav#bs-navbar, #bs-navbar-footer {
		width: 378px;
		margin-left: -5%;
	}
	#bs-navbar-footer {
		height: 300px;
	}
	#bs-navbar-footer li {
		margin-bottom: 10px;
		text-align: center;
	}
	.wrapper section.block-one-section .navbar-nav > li > a:after {
		background: none;
	}
	.block-left-copy {
		float: left;
	}
	.block-mobi-li .nav > li {
		float: left;
	}
	.wrapper section.block-five-section footer .navbar-nav > li > a {
		padding: 1px 7px;
	}
	.wrapper section.block-one-section .map, .wrapper section.block-one-section .telefon {
		margin: 0 auto;
		width: 205px;
	}
	.wrapper section.block-four-section .slider-testimonials .item .block-avatar {
		float: none;
	}
	.wrapper section.block-four-section .slider-testimonials .item .block-text-testimonials p {
		text-align: justify;
	}
	.wrapper section.block-five-section .block-bg-five .block-gallery-description p {
		text-align: justify;
	}
	.wrapper .navbar-nav {
		margin: 6.5px 1px;
	}
	.wrapper section.block-one-section .logo-text h3 {
		font-size: 20px;
		line-height: 30px;
	}
	.wrapper section.block-one-section .logo {
		max-width: 55px;
	}
	.wrapper section.block-five-section footer .map, .wrapper section.block-five-section footer .telefon {
		padding-left: 60px;
		left: 10px;
		position: relative;
		width: 100%;
	}
	.wrapper section.block-five-section footer .map {
		background: url(../img/map.png) center left no-repeat;
		margin-top: 25px;
	}
	.wrapper section.block-five-section footer .telefon {
		background: url(../img/telefon.png) center left no-repeat;
		margin-top: 25px;
	}
	.wrapper section.block-one-section .block-margin .block-look h2 {
		font-size: 22px;
	}
	.wrapper section.block-one-section .block-margin .block-look p {
		font-size: 15px;
	}
}
@media only screen and (max-width:320px) {
	nav#bs-navbar {
		width: 325px;
		margin-left: -6%;
		position: relative;
		top: 3px;
		overflow: hidden;
	}
	.wrapper section.block-five-section footer .map, .wrapper section.block-five-section footer .telefon {
		left: 10px;
	}
	.wrapper section.block-five-section .block-bg-five .block-gallery-description h2 {
		font-size: 22px;
	}
	footer #bs-navbar-footer {
		margin-left: 4%;
	}
	.block-slider-team .item {
		padding-left: 5%;
	}
	.wrapper section.block-tree-section .block-slider-team p {
		margin: 0 auto 5px auto;
	}
	.wrapper section.block-five-section footer .navbar-nav > li > a {
		padding: 5px 2px;
	}
	.wrapper section.block-four-section .block-parent-number .block-description {
		padding: 33px 0 34px 10px;
	}
	#bs-navbar-footer {
		height: 370px;
	}
	#bs-navbar-footer {
		max-width: 265px;
		width: 100%;
	}
	.wrapper section.block-four-section .slider-testimonials .item .block-text-testimonials {
  		padding-left: 0px;
	}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
	.wrapper section.block-one-section .slider .block-parent-text span.block-big-text {
		background-color: rgba(255, 255, 255, 0.95);
		width: 450px;
		height: 55px;
		display: block;
		color: #676767;
		font-size: 32px;
		font-weight: 300;
		line-height: 55px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 0px;
	}
	.wrapper section.block-one-section .owl-prev {
		left: 50px;
		top: 100px;
	}
	.wrapper section.block-one-section .owl-next {
		right: 50px;
		top: 100px;
	}
	.wrapper section.block-one-section .slider .block-parent-text {
		margin-left: -225px;
		text-align: center;
		margin-top: -130px;
	}
	.wrapper section.block-one-section .online {
		max-width: 80%;
	}
	.wrapper section.block-two-section .block-margin {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.wrapper section.block-tree-section .owl-prev, .wrapper section.block-tree-section .owl-next {
		left: 50px;
		top: 0px;
	}
	.wrapper section.block-tree-section .block-slider-team .owl-buttons .owl-next {
		left: -170px;
	}
	.wrapper section.block-tree-section .block-slider-team .owl-buttons .owl-prev {
		left: -244px;
	}
	.wrapper section.block-tree-section .block-slider-team p {
		max-width: 210px;
	}
	.wrapper section.block-tree-section .block-slider-team .item p {
		margin-bottom: 50px;
	}
	.wrapper section.block-tree-section .block-slider-team .item img {
		max-width: 90%;
	}
	.wrapper section.block-four-section {
		padding-top: 50px;
	}
	.wrapper section.block-four-section .block-parent-number .block-description h2 a {
		height: 95px;
	}
	.wrapper section.block-four-section .block-testimonials {
		padding-top: 30px;
	}
	.wrapper section.block-five-section .block-bg-five {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.wrapper section.block-five-section footer {
		padding-top: 30px;
	}
	.wrapper section.block-five-section footer .navbar-nav > li > a {
		padding: 10px 5px;
	}
	.wrapper section.block-two-section {
		padding-top: 50px;
	}
}