/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/* line 5, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Variable*/
/* line 22, ../sass/screen.scss */
.wrapper {
  font-family: 'Open Sans', sans-serif;
}
/* line 25, ../sass/screen.scss */
.wrapper section.block-one-section header {
  padding-top: 21px;
}
/* line 28, ../sass/screen.scss */
.wrapper section.block-one-section .logo {
  max-width: 67px;
  float: left;
  margin-right: 25px;
}
/* line 33, ../sass/screen.scss */
.wrapper section.block-one-section .map {
  background: url(../img/map.png) center left no-repeat;
  padding-left: 50px;
  height: 46px;
  display: flex;
  align-items: center;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
/* line 45, ../sass/screen.scss */
.wrapper section.block-one-section .logo-text {
  overflow: hidden;
}
/* line 47, ../sass/screen.scss */
.wrapper section.block-one-section .logo-text h3 {
  color: #676767;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  margin-bottom: 0;
  margin-left: -8px;
  margin-top: 0;
}
/* line 57, ../sass/screen.scss */
.wrapper section.block-one-section .logo-text span {
  color: #676767;
  font-size: 16px;
  font-weight: 300;
  line-height: 41px;
  text-align: center;
}
/* line 65, ../sass/screen.scss */
.wrapper section.block-one-section .telefon {
  background: url(../img/telefon.png) center left no-repeat;
  padding-left: 50px;
  height: 46px;
  display: flex;
  align-items: center;
  position: relative;
  left: -50px;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
/* line 79, ../sass/screen.scss */
.wrapper section.block-one-section .online {
  float: right;
}
/* line 82, ../sass/screen.scss */
.wrapper section.block-one-section .block-height {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
/* line 87, ../sass/screen.scss */
.wrapper section.block-one-section .block-bg-menu {
  background-color: #79ab00;
  height: 60px;
  width: 100%;
}
/* line 91, ../sass/screen.scss */
.wrapper section.block-one-section .block-bg-menu button.navbar-toggle::after {
  content: 'Menu';
  font-size: 18px;
  position: absolute;
  top: -5px;
  left: -70px;
  color: #fff;
}
/* line 100, ../sass/screen.scss */
.wrapper section.block-one-section .navbar-nav > li > a {
  padding: 20px 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
/* line 107, ../sass/screen.scss */
.wrapper section.block-one-section .navbar-nav > li > a:focus, .wrapper section.block-one-section .navbar-nav > li > a:hover {
  background-color: #679601;
}
/* line 110, ../sass/screen.scss */
.wrapper section.block-one-section .navbar-nav > li > a:after {
  content: '';
  background: url(../img/mnu_line.png) no-repeat;
  width: 1px;
  height: 15px;
  display: block;
  position: absolute;
  top: 22px;
  right: -1px;
}
/* line 120, ../sass/screen.scss */
.wrapper section.block-one-section .navbar-nav > li > a:hover:after {
  background: none;
}
/* line 125, ../sass/screen.scss */
.wrapper section.block-one-section .navbar-nav li.current_page_item {
  background-color: #679601;
}
/* line 128, ../sass/screen.scss */
.wrapper section.block-one-section .navbar-nav li.current_page_item a:after {
  background: none;
}
/* line 134, ../sass/screen.scss */
.wrapper section.block-one-section .owl-prev {
  background: url(../img/arrow_left.png) no-repeat;
  width: 50px;
  height: 50px;
  font-size: 0;
  float: left;
  position: relative;
  left: 225px;
}
/* line 143, ../sass/screen.scss */
.wrapper section.block-one-section .owl-next {
  background: url(../img/arrow_right.png) no-repeat;
  width: 50px;
  height: 50px;
  font-size: 0;
  float: right;
  position: absolute;
  right: 225px;
}
/* line 152, ../sass/screen.scss */
.wrapper section.block-one-section .owl-buttons {
  position: absolute;
  bottom: 225px;
  width: 100%;
}
/* line 157, ../sass/screen.scss */
.wrapper section.block-one-section .slider {
  position: relative;
}
/* line 159, ../sass/screen.scss */
.wrapper section.block-one-section .slider .block-parent-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -375px;
  text-align: center;
  margin-top: -155px;
  z-index: 10;
}
/* line 167, ../sass/screen.scss */
.wrapper section.block-one-section .slider .block-parent-text span.block-text-slider {
  background-color: #79ab00;
  width: 191px;
  height: 44px;
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  margin-left: -95px;
  top: 20px;
}
/* line 183, ../sass/screen.scss */
.wrapper section.block-one-section .slider .block-parent-text span.block-big-text {
  background-color: rgba(255, 255, 255, 0.95);
  width: 750px;
  height: 101px;
  display: block;
  color: #676767;
  font-size: 55px;
  font-weight: 300;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 43px;
}
/* line 199, ../sass/screen.scss */
.wrapper .navbar-brand, .wrapper .navbar-nav > li > a {
  text-shadow: none;
}
/* line 202, ../sass/screen.scss */
.wrapper section.block-two-section {
  padding-top: 100px;
  margin-top: 20px;
}
/* line 205, ../sass/screen.scss */
.wrapper section.block-two-section .block-image-parent {
  background: url(../img/block-team.png) no-repeat;
  width: 80px;
  padding-top: 100px;
  background-position: 0 0;
  margin: 0 auto 36px auto;
}
/* line 212, ../sass/screen.scss */
.wrapper section.block-two-section .block-img-two {
  background-position: -80px 0;
}
/* line 215, ../sass/screen.scss */
.wrapper section.block-two-section .block-img-tree {
  background-position: -160px 0;
}
/* line 218, ../sass/screen.scss */
.wrapper section.block-two-section .block-img-four {
  background-position: -240px 0;
}
/* line 222, ../sass/screen.scss */
.wrapper section.block-two-section .block-parent-team p {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}
/* line 228, ../sass/screen.scss */
.wrapper section.block-two-section .block-parent-team p span {
  color: #444444;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  display: block;
}
/* line 238, ../sass/screen.scss */
.wrapper section.block-two-section .block-margin {
  padding-top: 65px;
  padding-bottom: 100px;
}
/* line 242, ../sass/screen.scss */
.wrapper section.block-two-section .block-margin .block-look h2 {
  color: #444444;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 24px;
}
/* line 249, ../sass/screen.scss */
.wrapper section.block-two-section .block-margin .block-look p {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 25px;
}
/* line 259, ../sass/screen.scss */
.wrapper section.block-tree-section {
  background: url(../img/bg-section-tree.jpg) no-repeat;
  max-width: 1920px;
  width: 100%;
  padding-top: 81px;
  padding-bottom: 81px;
}
/* line 266, ../sass/screen.scss */
.wrapper section.block-tree-section .block-slider-team .block-head {
  color: #444444;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 27px;
  margin-top: 0;
}
/* line 274, ../sass/screen.scss */
.wrapper section.block-tree-section .block-slider-team .block-p {
  color: #6c6c6c;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  min-height: 100px;
}
/* line 281, ../sass/screen.scss */
.wrapper section.block-tree-section .block-slider-team p {
  height: 80px;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 28px;
  max-width: 263px;
}
/* line 290, ../sass/screen.scss */
.wrapper section.block-tree-section .block-slider-team h2 {
  color: #444444;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
/* line 296, ../sass/screen.scss */
.wrapper section.block-tree-section .block-slider-team span {
  display: block;
  margin-top: 31px;
}
/* line 300, ../sass/screen.scss */
.wrapper section.block-tree-section .block-slider-team .owl-pagination {
  display: none;
}
/* line 303, ../sass/screen.scss */
.wrapper section.block-tree-section .block-slider-team .owl-buttons {
  position: absolute;
  bottom: 310px;
  width: 100%;
}
/* line 307, ../sass/screen.scss */
.wrapper section.block-tree-section .block-slider-team .owl-buttons .owl-prev {
  background: url(../img/arrow-left-team.jpg) no-repeat;
  position: absolute;
  left: -290px;
  z-index: 50;
  width: 50px;
  height: 50px;
  font-size: 0;
  float: left;
}
/* line 317, ../sass/screen.scss */
.wrapper section.block-tree-section .block-slider-team .owl-buttons .owl-next {
  background: url(../img/arrow-right-team.jpg) no-repeat;
  position: absolute;
  left: -215px;
  float: left;
  z-index: 50;
  width: 50px;
  height: 50px;
  font-size: 0;
}
/* line 330, ../sass/screen.scss */
.wrapper section.block-four-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 334, ../sass/screen.scss */
.wrapper section.block-four-section .block-title-news span {
  color: #444444;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
  display: block;
  margin-bottom: 32px;
}
/* line 343, ../sass/screen.scss */
.wrapper section.block-four-section .block-parent-number {
  overflow: hidden;
}
/* line 345, ../sass/screen.scss */
.wrapper section.block-four-section .block-parent-number .block-description {
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  padding: 33px 0 34px 19px;
}
/* line 350, ../sass/screen.scss */
.wrapper section.block-four-section .block-parent-number .block-description h2 {
  margin-top: 0;
}
/* line 352, ../sass/screen.scss */
.wrapper section.block-four-section .block-parent-number .block-description h2 a {
  color: #444444;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  display: block;
}
/* line 358, ../sass/screen.scss */
.wrapper section.block-four-section .block-parent-number .block-description h2 a:hover {
  text-decoration: none;
}
/* line 363, ../sass/screen.scss */
.wrapper section.block-four-section .block-parent-number .block-description data {
  color: #b7b7b7;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
/* line 371, ../sass/screen.scss */
.wrapper section.block-four-section .block-testimonials {
  padding-top: 100px;
}
/* line 373, ../sass/screen.scss */
.wrapper section.block-four-section .block-testimonials h2 {
  color: #444444;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 54px;
}
/* line 382, ../sass/screen.scss */
.wrapper section.block-four-section .slider-testimonials .item {
  overflow: hidden;
}
/* line 384, ../sass/screen.scss */
.wrapper section.block-four-section .slider-testimonials .item .block-avatar {
  float: left;
}
/* line 386, ../sass/screen.scss */
.wrapper section.block-four-section .slider-testimonials .item .block-avatar img {
  margin-bottom: 20px;
}
/* line 389, ../sass/screen.scss */
.wrapper section.block-four-section .slider-testimonials .item .block-avatar p {
  color: #444444;
  font-size: 18px;
  font-weight: 700;
}
/* line 395, ../sass/screen.scss */
.wrapper section.block-four-section .slider-testimonials .item .block-avatar span p {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
}
/* line 402, ../sass/screen.scss */
.wrapper section.block-four-section .slider-testimonials .item .block-text-testimonials {
  background: url(../img/bg-after-testimonials.jpg) no-repeat;
  background-position: 34px 7px;
  padding-top: 30px;
  padding-left: 43px;
  overflow: hidden;
}
/* line 408, ../sass/screen.scss */
.wrapper section.block-four-section .slider-testimonials .item .block-text-testimonials p {
  color: #6c6c6c;
  font-size: 18px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
}
/* line 417, ../sass/screen.scss */
.wrapper section.block-four-section .slider-testimonials .owl-theme .owl-controls {
  margin-top: -20px;
  text-align: center;
  position: relative;
  z-index: 10;
}
/* line 426, ../sass/screen.scss */
.wrapper section.block-five-section .block-bg-five {
  padding-top: 100px;
  padding-bottom: 90px;
  background: url(../img/bg-section-five.jpg) no-repeat;
}
/* line 430, ../sass/screen.scss */
.wrapper section.block-five-section .block-bg-five .block-gallery {
  padding: 15px;
  background-color: #fff;
}
/* line 433, ../sass/screen.scss */
.wrapper section.block-five-section .block-bg-five .block-gallery .owl-controls {
  position: relative;
  top: 20px;
}
/* line 439, ../sass/screen.scss */
.wrapper section.block-five-section .block-bg-five .block-gallery-description h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}
/* line 446, ../sass/screen.scss */
.wrapper section.block-five-section .block-bg-five .block-gallery-description p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}
/* line 454, ../sass/screen.scss */
.wrapper section.block-five-section footer {
  padding-top: 100px;
}
/* line 456, ../sass/screen.scss */
.wrapper section.block-five-section footer .map, .wrapper section.block-five-section footer .telefon {
  background: none;
  padding-left: 0;
}
/* line 460, ../sass/screen.scss */
.wrapper section.block-five-section footer .map {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
/* line 467, ../sass/screen.scss */
.wrapper section.block-five-section footer .telefon {
  left: -15px;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  position: relative;
}
/* line 476, ../sass/screen.scss */
.wrapper section.block-five-section footer .logo {
  max-width: 67px;
  float: left;
  margin-right: 25px;
}
/* line 482, ../sass/screen.scss */
.wrapper section.block-five-section footer .logo-text h3 {
  color: #676767;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  margin-bottom: 0;
  margin-left: -8px;
  margin-top: 0;
}
/* line 492, ../sass/screen.scss */
.wrapper section.block-five-section footer .logo-text span {
  color: #676767;
  font-size: 16px;
  font-weight: 300;
  line-height: 41px;
  text-align: center;
}
/* line 500, ../sass/screen.scss */
.wrapper section.block-five-section footer #bs-navbar-footer {
  padding-left: 0;
  padding-right: 0;
}
/* line 504, ../sass/screen.scss */
.wrapper section.block-five-section footer #bs-navbar-footer .navbar-nav li.current_page_item {
  background: transparent;
}
/* line 508, ../sass/screen.scss */
.wrapper section.block-five-section footer #bs-navbar-footer .navbar-nav li a {
  color: #676767;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 513, ../sass/screen.scss */
.wrapper section.block-five-section footer #bs-navbar-footer .navbar-nav li a:after {
  background: none;
}
/* line 516, ../sass/screen.scss */
.wrapper section.block-five-section footer #bs-navbar-footer .navbar-nav li a:hover {
  background-color: transparent;
}
/* line 523, ../sass/screen.scss */
.wrapper section.block-five-section footer .navbar-nav > li > a {
  padding: 10px 7px;
}
/* line 525, ../sass/screen.scss */
.wrapper section.block-five-section footer .navbar-nav > li > a:focus {
  background: transparent;
}
/* line 529, ../sass/screen.scss */
.wrapper section.block-five-section footer .block-adress {
  background: url(../img/clock.png) no-repeat;
  height: 45px;
  padding-left: 70px;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
/* line 538, ../sass/screen.scss */
.wrapper section.block-five-section footer .block-copy {
  margin-top: 56px;
  background-color: #ebebeb;
  line-height: 52px;
  padding-top: 5px;
}
/* line 543, ../sass/screen.scss */
.wrapper section.block-five-section footer .block-copy .copy {
  color: #676767;
  font-size: 16px;
  font-weight: 300;
}
