/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

/*Variable*/
$green: #79ab00;
$gray: #ebebeb;
$fontsize: 14px;
$padding: 100px;
$fontWeight: 400;
$font-weight: 300;
$grayLite: #676767;
$grayLiteDark: #6c6c6c;




.wrapper{
	font-family: 'Open Sans', sans-serif;
	section.block-one-section{
		header {
		  padding-top: 21px;
		}
		.logo {
	  		max-width: 67px;
	  		float: left;
	    	margin-right: 25px;
		}
		.map{
			background: url(../img/map.png) center left no-repeat;
		  	padding-left: 50px;
		  	height: 46px;
		  	display: flex;
	  		align-items: center;
			color: $grayLiteDark;
			font-size: $fontsize; 
			font-weight: $fontWeight;
			line-height: 19px; 
			text-align: left;
		}
		.logo-text{
			  overflow: hidden;
			h3{
				color: $grayLite;
				font-size: 28px; 
				font-weight: $fontWeight;
				line-height: 35px; 
				text-align: center;
				margin-bottom: 0;
				margin-left: -8px;
				margin-top: 0;
			}
			span{
				color: $grayLite;
				font-size: 16px; 
				font-weight: $font-weight;
				line-height: 41px; 
				text-align: center;
			}
		}
		.telefon{
			background: url(../img/telefon.png) center left no-repeat;
		  	padding-left: 50px;
		  	height: 46px;
		  	display: flex;
	  		align-items: center;
	  		position: relative;
	  		left: -50px;
			color: $grayLiteDark;
			font-size: $fontsize; 
			font-weight: $fontWeight;
			line-height: 19px; 
			text-align: left;
		}
		.online {
		  float: right;
		}
		.block-height {
		  display: flex;
		  align-items: center;
		  padding-bottom: 20px;
		}
		.block-bg-menu {
	  		background-color: $green;
	  		height: 60px;
	  		width: 100%;
	  		button.navbar-toggle::after {
				  content: 'Menu';
				  font-size: 18px;
				  position: absolute;
				  top: -5px;
				  left: -70px;
				  color: #fff;
			}
		}
		.navbar-nav > li > a {
		  padding: 20px 25px;
		  color: #ffffff;
		  font-size: 16px; 
		  font-weight: $font-weight;
		  text-align: center;
		  text-transform: uppercase;
		  &:focus, &:hover{
		  	  background-color: #679601;
		  }
		  &:after{
		  	  content: '';
			  background: url(../img/mnu_line.png) no-repeat;
			  width: 1px;
			  height: 15px;
			  display: block;
			  position: absolute;
			  top: 22px;
			  right: -1px;
		  }
		  &:hover:after{
		  	background: none;
		  }
		}
		.navbar-nav{
			li.current_page_item {
	  			background-color: #679601;
	  			a{
	  				&:after{
	  					background: none;
	  				}
	  			}
			}
		}
		.owl-prev{
			background: url(../img/arrow_left.png) no-repeat;
			width: 50px;
			height: 50px;
			font-size: 0;
			float: left;
			position: relative;
			left: 225px;
		}
		.owl-next{
			background: url(../img/arrow_right.png) no-repeat;
			width: 50px;
			height: 50px;
			font-size: 0;
			float: right;
			position: absolute;
  			right: 225px;
		}
		.owl-buttons {
			position: absolute;
			bottom: 225px;
			width: 100%;
		}
		.slider{
			position: relative;
			.block-parent-text {
			  	position: absolute;
			  	top: 50%;
			  	left: 50%;
			  	margin-left: -375px;
			  	text-align: center;
			  	margin-top: -155px;
			  	z-index: 10;
			  	span.block-text-slider {
					  background-color: $green;
					  width: 191px;
					  height: 44px;
					  display: block;
					  color: #ffffff;
					  font-size: 18px;
					  font-weight: 700;
					  line-height: 44px;
					  text-align: center;
					  text-transform: uppercase;
					  position: relative;
					  left: 50%;
					  margin-left: -95px;
					  top: 20px;
				}
				span.block-big-text {
					  background-color: rgba(255, 255, 255, 0.95);
					  width: 750px;
					  height: 101px;
					  display: block;
					  color: $grayLite;
					  font-size: 55px;
					  font-weight: $font-weight;
					  line-height: 100px;
					  text-align: center;
					  text-transform: uppercase;
					  margin-bottom: 43px;
				}
			}
		}
	}
	.navbar-brand, .navbar-nav > li > a {
  		text-shadow: none;
	}
	section.block-two-section{
		padding-top: $padding;
		margin-top: 20px;
		.block-image-parent{
			background: url(../img/block-team.png) no-repeat;
  			width: 80px;
  			padding-top: $padding;
  			background-position: 0 0;
  			margin: 0 auto 36px auto;
		}
		.block-img-two {
		  	background-position: -80px 0;
		}
		.block-img-tree {
		  	background-position: -160px 0;
		}
		.block-img-four{
		  	background-position: -240px 0;
		}
		.block-parent-team{
			p{
				color:  $grayLiteDark;
				font-size: $fontsize;
				font-weight: $font-weight;
				line-height: 20px;
				text-align: center;
				span {
				  color: #444444;
				  font-size: 18px;
				  font-weight: 700;
				  line-height: 15px;
  				  display: block;
				}
			
			}
		}
		.block-margin{
			padding-top: 65px;
			padding-bottom: $padding;
			.block-look{
				h2{
					color:  #444444;
					font-size: 30px;
					font-weight: 700;
					line-height: 26px;
					margin-bottom: 24px;
				}
				p{
					color:  $grayLiteDark;
					font-size: 18px;
					font-weight: $font-weight;
					line-height: 23px;
					margin-bottom: 25px;
				}
			}
		}
	}
	section.block-tree-section{
		background: url(../img/bg-section-tree.jpg) no-repeat;
		max-width: 1920px;
		width: 100%;
		padding-top: 81px;
		padding-bottom: 81px;
		.block-slider-team {
			.block-head{
				color:  #444444;
				font-size: 25px;
				font-weight: 700;
				line-height: 20px;
				margin-bottom: 27px;
  				margin-top: 0;
			}
			.block-p{
				color: $grayLiteDark;
  				font-size: 15px;
  				font-weight: $fontWeight;
  				line-height: 23px;
  				min-height: 100px;
			}
			p{
				height: 80px;
				color:  $grayLiteDark;
				font-size: $fontsize;
				font-weight: $font-weight;
				line-height: 20px;
				margin-bottom: 28px;
				max-width: 263px;
			}
			h2{
				color:  #444444;
				font-size: 18px;
				font-weight: 700;
				line-height: 20px;
			}
			span {
				 display: block;
				 margin-top: 31px;
				}
			.owl-pagination{
				display: none;
			}
			.owl-buttons {
			  	position: absolute;
			  	bottom: 310px;
			  	width: 100%;
				.owl-prev{
					background: url(../img/arrow-left-team.jpg) no-repeat;
		  			position: absolute;
		  			left: -290px;
		  			z-index: 50;
		  			width: 50px;
					height: 50px;
					font-size: 0;
					float: left;
				}
				.owl-next{
					background: url(../img/arrow-right-team.jpg) no-repeat;
		  			position: absolute;
		  			left: -215px;
		  			float: left;
		  			z-index: 50;
		  			width: 50px;
  					height: 50px;
  					font-size: 0;
				}
			}
		}	
	}
	section.block-four-section{
		padding-top: $padding;
		padding-bottom: $padding;
		.block-title-news{
			span{
				color:  #444444;
				font-size: 25px;
				font-weight: 700;
				line-height: 20px;
				display: block;
				margin-bottom: 32px;
			}
		}
		.block-parent-number{
			overflow: hidden;
			.block-description{
				border-left: 1px solid #e2e2e2;
				border-bottom: 1px solid #e2e2e2;
				border-right: 1px solid #e2e2e2;
  				padding: 33px 0 34px 19px;
				h2{
					margin-top: 0;
					a{
						color:  #444444;
						font-size: 20px;
						font-weight: $font-weight;
						line-height: 30px;
	  					display: block;
						&:hover{
							text-decoration: none;
						}
					}
				}
				data{
					color:  #b7b7b7;
					font-size: $fontsize;
					font-weight: $font-weight;
					line-height: 20px
				}
			}
		}
		.block-testimonials {
  			padding-top: $padding;
  			h2{
  				color:  #444444;
				font-size: 25px;
				font-weight: 700;
				line-height: 20px;
				margin-bottom: 54px;
  			}
		}
		.slider-testimonials{
			.item{
  				overflow: hidden;
  				.block-avatar{
  					float: left;
  					img{
  						margin-bottom: 20px;
  					}
  					p{
  						color:  #444444;
						font-size: 18px;
						font-weight: 700;
  					}
  					span{
  						p{
  							color:  $grayLiteDark;
							font-size: $fontsize;
							font-weight: $font-weight;
						}
  					}
  				}
  				.block-text-testimonials{
  					 background: url(../img/bg-after-testimonials.jpg) no-repeat;
  					 background-position: 34px 7px;
  					 padding-top: 30px;
  					 padding-left: 43px;
  					 overflow: hidden;
  					p{
  						color:  $grayLiteDark;
						font-size: 18px;
						font-style: italic;
						line-height: 26px;
						text-align: left;
  					}
  				}			
			}
			.owl-theme .owl-controls {
			  margin-top: -20px;
			  text-align: center;
			  position: relative;
			  z-index: 10;
			}
		}
	}
	section.block-five-section{
		.block-bg-five{
			padding-top: $padding;
			padding-bottom: 90px;
			background: url(../img/bg-section-five.jpg) no-repeat;
			.block-gallery{
				padding: 15px;
				background-color: #fff;
				.owl-controls{
  					position: relative;
  					top: 20px;
				}
			}
			.block-gallery-description{
				h2{
					color:  #ffffff;
					font-size: 30px;
					font-weight: 700;
					margin-top: 0;
					margin-bottom: 24px;
				}
				p{
					color:  #ffffff;
					font-size: 15px;
					font-weight: $font-weight;
					line-height: 20px;
				}
			}
		}
		footer{
			padding-top: $padding;
			.map, .telefon{
				background: none;
				padding-left: 0;
			}
			.map{
				  color: #6c6c6c;
				  font-size: 14px;
				  font-weight: 400;
				  line-height: 19px;
				  text-align: left;
			}
			.telefon{
			  left: -15px;
			  color: #6c6c6c;
			  font-size: 14px;
			  font-weight: 400;
			  line-height: 19px;
			  text-align: left;
			  position: relative;
			}
			.logo {
	  		max-width: 67px;
	  		float: left;
	    	margin-right: 25px;
			}
			.logo-text{
				h3{
				  color: #676767;
				  font-size: 28px;
				  font-weight: 400;
				  line-height: 35px;
				  text-align: center;
				  margin-bottom: 0;
				  margin-left: -8px;
				  margin-top: 0;
				}
				span {
				  color: #676767;
				  font-size: 16px;
				  font-weight: 300;
				  line-height: 41px;
				  text-align: center;
				}
			}
			#bs-navbar-footer{
				padding-left: 0;
				padding-right: 0;
				.navbar-nav{
					li.current_page_item{
						background: transparent;
					}
					li{
						a{
							color:  $grayLite;
							font-size: 19px;
							font-weight: $fontWeight;
							text-transform: uppercase;
							&:after{
								background: none;
							}
							&:hover{
								  background-color: transparent;
							}
						}
					}
				}
			}
			.navbar-nav > li > a{
				padding: 10px 7px;
				&:focus{
					background: transparent;
				}
			}
			.block-adress{
				background: url(../img/clock.png) no-repeat;
				height: 45px;
				padding-left: 70px;
				color:  $grayLiteDark;
				font-size: $fontsize;
				font-weight: $fontWeight;
				line-height: 19px;
			}
			.block-copy {
  				margin-top: 56px;
  				background-color:  $gray;
				line-height: 52px;
  				padding-top: 5px;
				.copy{
					color:  $grayLite;
					font-size: 16px;
					font-weight: $font-weight;
				}
			}
		}
	}
}
